@model DentalSystem.Models.Home.StatisticVM

@{
    ViewData["Title"] = "Statistic";
}

<h1>Statistic</h1>

<h4>Count of doctors: @Model.countDoctors</h4>
<h4>Count of patients: @Model.countPatients</h4>
<h4>Count of free hours: @Model.countHours</h4>
