@model IRunes.Models.OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Order</h1>

<h4>Order Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label"></label>
                <input asp-for="AlbumId" class="form-control" readonly="readonly" />
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"  readonly="readonly"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountAlbums" class="control-label"></label>
                <input asp-for="CountAlbums" class="form-control"  />
                <span asp-validation-for="CountAlbums" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="button" value="TotalPrice" class="btn btn-primary mb-3" onclick="calcSum()" />
                <input asp-for="TotalPrice" class="form-control" /> <br>


            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All" asp-controller="Albums">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function calcSum() {
        let num1 = document.getElementsByName('CountAlbums')[0].value;
        let num2 = document.getElementsByName('Price')[0].value;
        let sum = Number(num1)*Number(num2);
        document.getElementsByName('TotalPrice')[0].value = sum;
    }
</script>